version: '3.8'

networks:
  kafka-net:
    driver: bridge

services:
  postgres:
    image: postgres:17-alpine
    container_name: gin-app-postgres
    environment:
      POSTGRES_DB: gin_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGTZ: Asia/Shanghai
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: gin-app-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
  
  kafka:
    image: bitnami/kafka:latest
    hostname: kafka
    container_name: gin-app-kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    volumes:
      - kafka-data:/bitnami/kafka/data
      - /etc/localtime:/etc/localtime:ro
    networks:
      - kafka-net
    environment:
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CFG_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://192.168.140.128:9092
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CFG_LOG_DIRS: /bitnami/kafka/data
      ALLOW_PLAINTEXT_LISTENER: yes
    healthcheck:
      test: [ "CMD", "kafka-topics.sh", "--list", "--bootstrap-server", "localhost:9092" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # app:
  #   build: .
  #   container_name: gin-app
  #   ports:
  #     - "9060:9060"
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #   environment:
  #     SERVER_ENV: prod
  #     DB_HOST: postgres
  #     DB_USER: postgres
  #     DB_PASSWORD: postgres
  #     DB_NAME: gin_app
  #     REDIS_ADDR: redis:6379
  #     REDIS_PASSWORD: ""
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #   restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
  kafka-data:
